<div>
        <table id="holdingmng-table" class="display" style="width:100%">
            <thead>
                <!-- Los datos pueden ser generados dinámicamente por DataTables -->
            </thead>
            <tbody>
                <!-- Los datos pueden ser generados dinámicamente por DataTables -->
            </tbody>
        </table>
    </div>