.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  .loader-img {
    position: absolute;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }
  