<a href="{{wwwroot}}/local/help/editfaq.php?id={{id}}" >
{{# pix }} t/edit, core, Editar {{/ pix }}
</a>

<a href="{{wwwroot}}/local/help/deletefaq.php?id={{id}}" >
{{# pix }} t/delete, core, Borrar {{/ pix }}
</a>