<ol class="responses js-response-list">
        <li class="comment-response">
            <div class="discussion-response" style="">
                <header class="response-header">
                    <div class="response-header-content">
                        <div class="username"> {{{ pix }}} {{{ name }}} </div>
                        <p class="posted-details">
                            <span class="timeago" title="{{ timecomment }}">
                                {{ timecomment }}
                            </span>
                        </p>    
                    </div>
                </header>
                <div class="response-body">
                    <p>{{ comment }}</p>
                </div>
            </div>
        </li>
    </ol>