<a id="eabc-help" href="{{wwwroot}}/local/help/faqview.php">
    <div class="help-btn">
        <span>
            {{# pix }} help, core, Ayuda {{/ pix }}
        </span>
        Ayuda
    </div>
</a>
