@import "mutualseguridad/transitions";
@import "mutualseguridad/variables";
@import "../../boost/scss/preset/default";
@import "mutualseguridad/general";
@import "mutualseguridad/pages";
@import "mutualseguridad/blocks";
@import "mutualseguridad/drawers";
@import "mutualseguridad/navbar";
@import "mutualseguridad/footer";
@import "mutualseguridad/breadcrumb";
@import "mutualseguridad/course";
@import "mutualseguridad/mixins/accessibilityfontsize";
@import "mutualseguridad/accessibilitybar";
@import "mutualseguridad/accessibilitystyles";
@import "mutualseguridad/login";
@import "mutualseguridad/mydashboard";
@import "mutualseguridad/frontpage";
@import "mutualseguridad/profile";
@import "mutualseguridad/enrol";