# =====================================
# Moodle core & sensitive files
# =====================================

config.php

*/cache/
*/localcache/
*/sessions/
*/temp/
*/trashdir/
*/filedir/
*/log/

03-moodledata/
02-db/

docker/php/.phpunit.result.cache
docker/php/vendor/
docker/php/node_modules/

*.pid
*.log
*.sock
*.pid.lock

docker-compose.override.yml

Thumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

*~
*.swp

.vscode/

.idea/
*.iml

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

vendor/
composer.lock

!.gitkeep
