{{!
(2/12/2019 FHS)
User info to display at enroll
}}

<div id="USER_FOUND">
	<center>
		<table border=0>
			<thead><th>{{u_acc_name}}</th></thead>
			<tbody>
				<tr><td>ID: </td><td> {{u_id}} </td></tr>
				<tr><td>{{text_user_name}}: </td><td> {{u_name}} </td></tr>
				<tr><td>{{text_user_email}}: </td><td> {{u_email}} </td></tr>
			</tbody>
		</table>
		
		<h3>{{in_course}}</h3>
	</center>
</div>
			
