<table class='table table-bordered table-striped text-center'>
    <tr class='text-center'>
        <th colspan='2'>
            <h4>Envío de Reporte de campaña</h4>
        </th>
        <tr>
            <td style='width: 50%'>