</td>
            <td>
                <div class='text-justify text-muted'>
                    Esta opción permite solicitar la generación de un reporte de resultado general de una campaña, el cual es enviado en formato CSV al correo indicado en un rango de fechas. El CSV provee:
                    <ul>
                        <li>Nombre de la campaña</li>
                        <li>Asunto</li>
                        <li>Hora inicio envío</li>
                        <li>Hora fin envío</li>
                        <li>Mails enviados</li>
                        <li>Mails entregados</li>
                        <li>Mails rebotados</li>
                        <li>Aperturas únicas</li>
                        <li>Aperturas totales</li>
                        <li>Tasa apertura desktop</li>
                        <li>Tasa apertura mobile y otros</li>
                        <li>Clics únicos por evento</li>
                        <li>Clics totales por evento</li>
                    </ul>
                </div>
            </td>
        </tr>
</table>