<div class="showfilters">
    {{{filters}}}
</div>
<button type="button" class="btn btn-info toggle-filter">{{#str}} showhidefilter, local_showallactivities {{/str}}</button>
<br>
<h1>{{# str }} pluginname, local_survey_summary {{/ str }}</h1>
<br>
{{{table_body}}}