<div class="container mt-5">
  <div class="card text-center">
  
    <div class="card-body">
      <p class="card-text ">
        👋 ¡Bienvenido!
<br><br>
Ingresa con el mismo usuario y contraseña que utilizas para acceder a tu Sucursal Virtual Trabajador.
<br><br><br>
🔒 ¿Olvidaste tu contraseña? <a href="https://www.mutual.cl/portal/publico/mutual/inicio/cuenta-trab/olvido-clave/" class="">Recupérala aquí</a>
<br><br><br>
🚀 Nueva funcionalidad
<br>
Ahora puedes acceder directamente a tus cursos de capacitación desde la Sucursal Virtual Trabajador. ¡Todo en un solo lugar!
      </p>
    </div>
  </div>
</div>