<form autocomplete="off" action="view.php" method="post" accept-charset="utf-8" class="mform">
    <div>
        <div>
            <label for="descripcion">ID: {{id}} </label>        
        </div>
        <div>
            <label for="descripcion">Motivo: {{motivo}} </label>        
        </div>
        <div>
            <label for="">Fecha: {{fecha}} </label>    
        </div>
        <div>
            <label for="">Hora inicio: {{h_inicio}} </label>    
        </div>
        <div>
            <label for="">Hora fin: {{h_fin}} </label>    
        </div>        
    </div>
    <input type="hidden" name="id" id="id" value="{{id}} ">
</form>    