<div>
    <table class="table">
        <tr>
            <td>
                <p for="descripcion">Actividad: {{actividad}} </p>            
                <p for="">Lugar: {{direccion}} </p>                    
                <p for="">Fecha: {{fecha}} </p>                
                <p for="">Hora inicio: {{h_inicio}} </p>                    
                <p for="">Duración: {{duracion}} </p>                    
                <p for="">Estatus: {{estatus}} </p>                    
                <a href="../../course/view.php?id={{url}}">Ver curso</a>                         
            </td>
            <td>
                <p>                    
                    {{{link}}}
                </p>
                <p>                    
                    <a href="../../mod/eabcattendance/focalizacion/call.php?id={{url}}&instructorid={{iduser}}&sesionid={{sesionid}}"><i class="icon fa fa-phone"></i>Llamada a empresa</a>
                </p>                        
            </td>
        </tr>                
    </div>    
</div>    

