<form name="formsuspend" id="formsuspend"> 
    <div class="form-group">
        <label for="motivo">{{# str }} cause, format_eabctiles {{/ str }}</label>
        <select class="form-control" name="motivo" id="motivo">
            <option value="" data-questiontype="">Seleccione</option>
            {{#reasons}}
                <option value="{{motivo}}" data-questiontype="closequestion">{{motivo}}</option>
            {{/reasons}}
            {{#reasonsopen}}
                <option value="{{motivoopen}}" data-questiontype="openquestion">{{motivoopen}}</option>
            {{/reasonsopen}}
        </select>
    </div>
    <div class="form-group" id="textotherlabel" style="display: none;">
        <label for="textother">{{# str }} response, format_eabctiles {{/ str }}</label>
        <input type="text" class="form-control" placeholder="" name="textother" id="textother" >
    </div>
</form>