<style>
	.bordercertificate {
		text-align: center;
	}
</style>

<div class="bordercertificate">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	{{#clearbr}}
	<br>
	{{/clearbr}}

	<div style="font-size:15px; color: #000004; margin-left:15px;">
		<p>{{coursename}}</p>
	</div>
	<br><br><br>
	<div class="marginleft" style="font-size:17px; color: #000004;">
		<p>{{username}}</p>
	</div>
	<br><br><br>
	<div style="font-size:17px; color: #000004; margin-left:15px;">
		<p>{{empresa}}</p>
	</div>
	<br><br>
	<div>
		{{datefinish}} - DURACIÓN: {{duration}} HORAS
	</div>
	<br><br><br><br><br><br><br><br>
	<div style="font-size:8px">
		FECHA EXPIRACIÓN: {{expirationdate}}
	</div>
	<div style="font-size:8px">
	CÓDIGO: {{codigo}}
	</div>
</div>
