<div class='eabcmodal'>
{{#alerts}}
<div>
<div class='alert alert-warning eabcalert'>{{message}} {{#url}}<span>{{#str}}linkindicator, local_checkconfig, {{url}}{{/str}}</span>{{/url}}</div>
</div>
{{/alerts}}

</div>
